.row {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: baseline;
  flex-wrap: wrap;
  max-width: 100vw;
  padding: 0vh 20vw;
  line-height: 1.4rem;
  text-align: justify;
}
.row p {
  margin: 0;
  padding-top: 1rem;
  font-size: 1rem;
}
.row p h1 {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.1rem;
}
.row p span {
  margin: 0;
  padding-top: 1rem;
  font-size: 0.7rem;
}
.row a {
  margin: 0;
  padding-top: 1rem;
  font-size: 1rem;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .row {
    padding: 0vh 10vw;
    line-height: 1rem;
  }
  .row p {
    padding-top: 0.7rem;
    font-size: 0.8rem;
  }
  .row p h1 {
    margin: 0;
    padding: 1rem 0;
    font-size: 0.9rem;
  }
  .row p span {
    margin: 0;
    padding-top: 1rem;
    font-size: 0.6rem;
  }
  .row a {
    margin: 0;
    padding-top: 1rem;
    font-size: 0.8rem;
    text-decoration: underline;
  }
}
