.title {
  max-width: 800px;
  text-align: center;
  border-radius: 5px;
  color: rgb(73, 1, 1);
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.title h1 {
  margin-top: 0vh;
  display: block;
  font-size: 1.2rem;
}
.title h2 {
  margin-top: 2vh;
  display: none;
  font-size: 1.2rem;
}

@media (max-width: 600px) {  
  .title {
    margin-top: 0 5vw;
  }
}