.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 10vh;
  padding: 0;

  color: #fff;
  background-color: #2c5675;
  border: 1 solic #2c5675;
}
.header h1 {
  margin-top: 16px;
  margin-left: 10px;
  font-size: 20px;
  font-stretch: expanded;
}
.header span {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: auto;
  padding: 0;
  line-height: auto;
}

.footer {
  width: 100%;
  height: 13vh;
  margin-top: 5px;
  padding-top: 20px;

  color: #fff;
  background-color: #2c5675;
  border: 1 solic #2c5675;
}

.footerCols {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerCols img {
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footerCols a {
  font-size: 0.7rem;
  display: flex;
  padding: 0 6px;
}
.footerCols a:hover {
  color: var(--red1);
}
.footerCols p {
  font-size: 0.6rem;
  display: flex;
  padding: 0;
}

.line1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;

  width: 100vw;
  max-width: 800px;
  height: auto;
}

.line1Cols {
  position: relative;
  width: 56%;
  height: auto;
  margin: 0 1vw;

  line-height: auto;
}
.line1Cols h3 {
  margin-top: 40px;
  color: #3b3a30;
  height: auto;

  font-size: 20px;
  font-weight: 600;
  line-height: auto;
}
.line1Cols h5 {
  margin-top: 20px;
  color: #3b3a30;
  height: auto;

  font-size: 14px;
  font-weight: normal;
}
.line1Cols h5 span {
  color: #2962ff;
}

.line1Img {
  position: relative;
  width: 30%;
  margin: 10vh 0 0 2vw;
}

.line2 {
  width: 100vw;
  max-width: 800px;
  height: auto;
  margin: 200px auto 20px;
  text-align: center;
}
.line2 h3 {
  margin-top: 40px;
  height: auto;

  font-size: 20px;
  font-weight: 600;
  line-height: auto;
}

.line3 {
  display: flex;
  justify-content: center;
  align-items: top;

  width: 100vw;
  max-width: 800px;
  height: auto;
  padding: 0 10px;
}

.line3Img {
  width: 76%;
  height: auto;
  margin: auto;
}

.line3Cols {
  position: relative;
  width: 30%;
  height: auto;
  margin: 0 2vw;

  line-height: auto;
}
.line3Cols h3 {
  margin-top: 30px;
  color: #696969;
  height: auto;

  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: auto;
}
.line3Cols h5 {
  color: #3b3a30;
  height: auto;

  font-size: 14px;
  font-weight: normal;

  text-align: center;
  line-height: auto;
}

.line4 {
  width: 100vw;
  max-width: 800px;
  height: auto;
  margin: 120px auto 0px;
  text-align: center;
}
.line4 h3 {
  margin-top: 40px;
  height: auto;

  font-size: 20px;
  font-weight: 600;
  line-height: auto;
}

.wrapperIframe {
  margin: 14px auto;
  padding: 0;
  position: relative;
  width: 100vw;
  max-width: 600px;
  height: 660px;
  overflow: hidden;
  text-align: center;
}

.layerIframe {
  margin: auto;
  margin-top: -150px;
  width: auto;
}

@media (max-width: 600px) {
}
