.container {
  min-height: 100vh;
  padding: 0 1.6rem 0 .4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.logo div:first-child {
  margin-right: 8px;
}
.logo div img {
  width: 14vw;
  max-width: 70px;
  border-right: 1px solid black;
}
.logo div h1 {
  font-size: 22px;
  line-height: 23px;
  padding: 0;
  margin: 0;
}
.logo div h2 {
  font-size: 12px;
  line-height: 13px;
  padding: 4px 0 0;
  margin: 0;
}

.title a {
  color: darkred;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.code {
  max-width: 800px;
  text-align: center;
  border-radius: 5px;
  color: rgb(73, 1, 1);
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.code h1 {
  margin-top: 2vh;
  display: block;
  font-size: 1.2rem;
}
.code h2 {
  margin-top: 2vh;
  display: none;
  font-size: 1.2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 0rem;
}

.logo3 {
  width: 6vw;
  max-width: 60px;
  margin-top: 8px;
  margin-bottom: 6px;
  opacity: .9;
}

@media (max-width: 600px) {
  .container {
    padding: 0 1.6rem 0 .4rem;
  } 

  .code {
    margin-top: 0 5vw;
  }
  .code h1 {
    font-size: 1rem;
    text-align: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  
  .logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .logo div:first-child {
    margin-right: 8px;
  }
  .logo div img {
    width: 14vw;
    max-width: 70px;
    border-right: 1px solid black;
  }
  .logo div h1 {
    font-size: 18px;
    line-height: 19px;
    padding: 0;
    margin: 0;
  }
  .logo div h2 {
    font-size: 10px;
    line-height: 11px;
    padding: 4px 0 0;
    margin: 0;
  }

  .main {
    padding: 2rem 0 1.4rem;
  }

  .grid {
    width: 100%;
    flex-direction: column;
    margin-top: 0;
  } 

  .logo3 {
    width: 12vw;
    margin-top: 26px;
    margin-bottom: 6px;
  }
}
