@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: font-sans;
  color: var(bg-background-light);
  background: var(bg-background-light);
}
/* @apply bg-background-light text-text-lightblack font-sans; */

h1, h2, h3, h4, h5, h6 {
  color: var(text-title-dark);
}

h2 {
  color: var(text-subtitle-grayblue);
}

div, p {
  color: var(text-text-lightblack);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
