.tierArticles {  
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;  
  text-align: center;
  max-width: 800px;
}

.tierArticles div {
  flex: 1 300px;
  height: 100%;
}

.tierArticles div form {
  padding: 30px;
}

.tierArticles div form label {
  display: flex; 
  line-height: 20px;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: -.0rem; 
  color:rgb(1, 1, 48);
  opacity: .8;
}

.tierArticles div form input[type=checkbox] {
  margin-right: 8px;
  margin-left: 0;
}
.tierArticles div form input[type=text], 
.tierArticles div form input[type=email]  {
  display: flex;
  height: 28px;
  width: 100%;
  padding: 2px 5px;
  margin-bottom: 14px;

  line-height: 20px;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: -.0rem; 
  color: #283E4A;
  opacity: .9;

  outline: none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border: 1px solid #4f585e80;
}

.tierArticles div form input:hover {
  border-color:  rgba(43,81,178,0.59);
}

.tierArticles div form input:focus {
  -moz-box-shadow:  0px 0px 15px -3px rgba(43,81,178,0.59); 
  -webkit-box-shadow: 0px 0px 15px -3px rgba(43,81,178,0.59); 
  box-shadow: 0px 0px 15px -3px rgba(43,81,178,0.59);
}

.tierArticles div form textarea {
  display: flex;
  width: 100%;
  height: 180px;
  max-height: 240px;
  padding: 2px 5px;
  margin-bottom: 14px;
  
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: 20px;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: -.0rem; 
  color: #283E4A;
  opacity: .9;

  outline: none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border: 1px solid #4f585e80;
}

.tierArticles div form textarea:hover {
  border-color:  rgba(43,81,178,0.59);
}

.tierArticles div form textarea:focus {
  -moz-box-shadow:  0px 0px 15px -3px rgba(43,81,178,0.59); 
  -webkit-box-shadow: 0px 0px 15px -3px rgba(43,81,178,0.59); 
  box-shadow: 0px 0px 15px -3px rgba(43,81,178,0.59);
}

.tierArticles div form p{
  line-height: 16px;
  font-weight: 600;
  font-size: .8rem;
  margin: 0;
  padding: 0 8px;
}

.imgArticle {
  max-width: 200px;
  margin: 0 0 0;
}
 
.goForward {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  background: rgb(13, 23, 28);
  border-radius: 5px;
  padding: 8px 0;
  font-weight: 600;
  margin-bottom: 5px;
}
.goForward:hover {
  background: rgb(27, 35, 39);
}

@media (max-width: 600px) {
  .tierArticles {  
    flex-wrap: wrap;  
    margin-bottom: 5vh;
  }  
  .tierArticles div form {
    padding: 5px;
  }
  .tierArticles div form input[type=text], 
  .tierArticles div form input[type=email]  {
    width: 86vw;
    margin-bottom: 14px;
  }
  .tierArticles div form textarea {
    width: 86vw;
    max-width: 86vw;
    min-width: 86vw;
    height: 120px;
    max-height: 160px;
    margin-bottom: 14px;
  }
  .imgArticle {
    display: none;
  }
}


