.container {
  min-height: 89vh;
  padding: 0 1.6rem 0 .4rem;

  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}


@media (max-width: 600px) {
  .container {
    padding: 0 1.6rem 0 .4rem;
  } 
}