.card {
  cursor: pointer;
  margin: 1rem;
  flex-basis: 45%;
  padding: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.card:last-child {
  flex-basis: 94%;
  padding-top: 20px;
}
.card:hover,
.card:focus,
.card:active {
  background: var(--red3);
  border-color: var(--red2);
}
.card h1 {
  color: var(--black1);
  font-size: 1.2rem;
  font-weight: 700;
}
.card h2 {
  color: var(--black2);
  margin: 0;
  font-size: 1.1rem;
  font-weight:500;
  text-align: justify;
  
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.card h3 {
  color: var(--red1);
  font-size: 1.2rem;
  font-weight:700;
}

.cardContent {
  text-align: center;
  text-decoration: none;
}

.logo {
  width: 8vw;
  max-width: 50px;
  margin: 8px;
  opacity: .9;
}

@media (max-width: 600px) {
  .card {
    margin: 0 0 1.4rem;
    padding: 0 1.2rem;
    text-align: center;
    border: none;
  }
  .card h1 {
    margin: 0 0 .5rem;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }
  .card h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
  }
  .card h3 {
    margin: 0 0 .5rem;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }

  .cardLine {
    margin: 0 0 1.4rem;
    padding: 0 1.2rem;
    text-align: center;
    border: none;
  }
  .cardLine h2 {
    margin: 0 0 .5rem;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .cardLine p {
    margin: 0;
    padding: 0;
    font-size: 1.05rem;
    line-height: 1.4;
  }

  .logo {
    width: 8vw;
    margin-top: 26px;
    margin-bottom: 6px;
  }
}
