.wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 26px;

  position: fixed;
  z-index:100;
  top:30%;
  right: 0;
  /* right: calc(50% -400px); */
}
.wrapper  a img {
  opacity: 0.74;
}
.wrapper a img:hover {
  cursor: pointer;
  /* border: 1px solid #eaeaea;
  border-radius: 6px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background:  rgba(219, 31, 31, 0.138);
  border-color: rgba(78, 1, 1, 0.467); */
  opacity: .94;
}

.icon {
  width: 60px;
  padding: 10px;
}

@media (max-width: 600px) {
  .wrapper {
    margin-right: 6px;
    right: 0;
  }
  
  .icon {
    width: 40px;
    padding: 5px;
  }
}