.container {
  display: block;
  max-width: 800px;
  padding: 4vh 0 0 0;
  text-align: center;
  color: rgb(73, 1, 1);
}
.container h1 {
  font-size: 1.4rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 600px) {
  .container {
    padding: 3vh 0 0 0;
  }
  .container h1 {
    font-size: 1rem;
    font-weight: 600;
  }
}