.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 10vh;
  padding: 0;

  color: #fff;
  background-color: #2c5675;
  border: 1 solic #2c5675;
}
.header h1 {
  margin-top: 16px;
  margin-left: 10px;
  font-size: 20px;
  font-stretch: expanded;
}
.header span {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: auto;
  padding: 0;
  line-height: auto;
}
.main h2 {
  font-size: 1rem;
  display: flex;
  padding: 0 6px;
}
.main h2 span {
  padding-left: 10px;
}

.footerCols {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerCols a {
  font-size: 0.7rem;
  display: flex;
  padding: 0 6px;
}

.goForward {
  text-align: center;
  width: auto;
  cursor: pointer;
  margin-top: 30px;
  padding: 8px 0px;
  color: #fff;
  background-color: #2c5675;
  border: 0;
}
.goForward:hover {
  background: #2c4675;
}

@media (max-width: 600px) {
}
